
backend/.idea/

backend/backend/__pycache__/

backend/.DS_Store

.env.dev

.DS_Store

backend/editdistance/__pycache__/

backend/editdistance/migrations/__pycache__/

backend/editdistance/utils/__pycache__/

frontend/.idea/

frontend/node_modules/

frontend/.env
